@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
*{
    font-family:'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {
    display: grid;
    font-family: Staatliches;
    background-color: rgb(49, 49, 49);
}

header{
    display: flex;
    background-color: #000000;
    text-align: center;
    justify-content: center;
    padding: 20px 0;
}

@media(max-width: 600px){
    header{
        justify-content:space-around;
    }
}

nav{
    font-size: 1.2rem;
}

nav a{
    display:inline-flex;
    justify-content: center;
    text-decoration:none;
    color: #aaaaaa;
    margin: 0 20px;
    padding: 15px 5px;
    border-radius: 30px;
}

nav a:hover{
    background-color: rgb(73, 73, 73);
    color: rgb(255, 250, 250);
}

h1{
    display: grid;
    color: rgb(248, 248, 248);
    margin: 60px auto;
    border-style: solid;
    border-left: none;
    border-right: none;
    border-top: none;
    text-align: center;
    font-size: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    color: rgb(248, 248, 248);
    border-style:solid;
    border-bottom: none;
    border-left: none;
    border-right: none;
    text-align: center;
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.int{
    margin-top: 10px;
    border-style: solid;
    border-left: none;
    border-right: none;
    border-top: none;
}

.img{
    margin: 30px;
    display: flex;
    justify-content:center;
}

h2,h3,h4{
    color: #f2f2f2;
    background: fixed;
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
}

footer{
    margin: 0;
    background-color: #313131f1;
    border-style: solid;
    border-color: black;
    border-bottom: rgba(49, 49, 49);
    border-left: rgba(49, 49, 49);
    border-right: rgba(49, 49, 49);
}
