@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
*{
    font-family:'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {
    display: grid;
    font-family: Staatliches;
    background-color: rgb(49, 49, 49);
}

header{
    display: flex;
    background-color: #000000;
    text-align: center;
    justify-content: center;
    padding: 20px 0;
}

@media (max-width: 200px){
    header{
        justify-content:left;
    }
    header div {
        flex-basis: 100%;
    }
}

.menu{
    font-size: 1.2rem;
}

nav a{
    display:inline-flex;
    justify-content: center;
    text-decoration:none;
    color: #aaaaaa;
    margin: 0 20px;
    padding: 15px 5px;
    border-radius: 30px;
}

nav a:hover{
    background-color: rgb(73, 73, 73);
    color: rgb(255, 250, 250);
}

.imgfondo{
    display: flex;
    background-image: url(free.jpg);
    background-repeat: no-repeat;
    height: 600px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(15, 15, 15);
}


h1{
    display: flex;
    color: rgb(10, 10, 10);
    margin: 25px auto;
    text-align: left;
    font-size: 4.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav{
    font-size: 1.3rem;
    font-family: roboto, sans-serif;
    text-align: right;
    background-color: rgba(0, 0, 0, 0.61);
    border-bottom: solid 3px;
}
p{
    text-align: center;
    font-family:'Gill Sans', sans-serif;
    font-size: 2.3rem;
}



h2,h3,h4{
    color: #f2f2f2;
    background: fixed;
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
}

button{
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    color: #000000;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: transparent;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    border-radius: 35px;
}

.boton{
    text-decoration: none;
    color: black;
    background-color: transparent;
}

.boton:hover{
    color: rgba(131, 101, 101, 0.774);
}

.container{
    background-position: center;
    width: 100%;
    display: grid;
    max-width: 400px;
    margin: 2.3em auto;
}

.card{
    width: 100%;
    margin: 20px;
    border-radius: 7px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
}

.card:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);

}

.card img{
    width: 400px;
    height: 200px;
    
}

.card .texto{
    padding: 15px;
    text-align: center;
}

.card .texto p{
    font-size: 15px;
    line-height: 1.3;
    color: black;
}

.card .texto a{
    text-decoration: none;
    display: grid;
    padding: 10px;
    margin-top: 10px;
    color: black;
    border: 1px solid  black;
    border-radius: 4px;
    transition: all 400ms ease;
}

footer{
    margin: 0;
    background-color: #313131f1;
    border-style: solid;
    border-color: black;
    border-bottom: rgba(49, 49, 49);
    border-left: rgba(49, 49, 49);
    border-right: rgba(49, 49, 49);
}


